.marq {
  color: black;
  font-size: 1.5rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-bottom: 15px; /* Add margin to separate it from the content below */
}

.offers {
  margin-top: 15px;
  
  
}

.card {
  background: rgb(21, 21, 29);
  margin: inherit;
  
  
}

/* Apply transform only for larger screens */
@media only screen and (min-width: 768px) {
  .offers {
    transform: scale(0.9);
  }
}

/* Media Query for responsiveness */
@media only screen and (max-width: 768px) {
  .offers {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    /* Set the minimum width for each column and allow them to fill the available space */
    transform: none; /* Remove the transform */
  }
}
